@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-poly-green-light :#F7F7F2;
  --color-poly-green-dark:  #24634C;
  --color-border-inputs: #DDE3DB;
  --color-under-input: #6D7770;
  --color-green-button-click: #023020;
  --color-white-button-click: #F3A3D0;
  --font-inter: "Inter", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff ;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
